* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;

    
}

:root {
    --color-copy: #000000;
    --color-primary: #6CBFF2;
    --color-segudary: #F9F9F9;
    --default-padding: 1rem;
  }


body {
    background-color: rgb(26, 127, 189);
    margin: 0 auto;
    padding-top: 25px;
    
}

/* Cabeçalho */

header {
    display: flex;
    justify-content: space-between ;
    justify-items: center;
    padding-bottom: 20px;
    
    border-bottom: 2px solid rgb(148,195,224);
}

header img {
    max-width: 150px;
    max-height: auto;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    header ul {
        display: none;
    }

    button {
        display: none;
    }
    
    #menu-toggle.active + nav {
        display: block;
    }

    .lista-menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }
    
    .lista-menu.open {
        max-height: 500px; /* Ajuste o valor conforme necessário */
    }
    

  }



.lista-menu {
    list-style: none;
}

.lista-menu li {
    display: inline-block;
    margin-right: 50px;
}

.lista-menu li a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header button {
    width: 160px;
    height: 40px;

    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 700;

    color: #FFFFFF;
    background-color: black;

    border: none;
    border-radius: 10px;
    cursor: pointer;
}

section {
    display: flex;
}


/* Formulario */

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* MULHER */
.flex-container-mulher {
   display: flex;
   background-color: var(--color-segudary);
   justify-content: center;
}

.img {
    padding-left: 200px;
    width: 35%;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.title h1 { 
    font-size: 48px;
    color: var(--color-primary);
}

.title h3 {
    font-size: 25px;
    color: var(--color-copy);
    width: 30%;
}

.title p {
    font-size: 20px;
    width: 40%;
}

hr {
    width: 40%;
    color: #e2e2e2;
    background-color: #e2e2e2;
}

.sub-text {
    font-size: 20px;
    font-weight: 700;
}

/* quadrados */

.blocos {
    margin: -20;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    background-color: var(--color-segudary);
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}

.flex-oportunidade {
    width: 400px;
    height: 300px;
    padding: 40px 0;
    background-image: url("../imagens/1.png");
    background-size: 30px; /* POR QUE O TAMANHO DESSA IMAGEM TA ASSIM (PESQUISAR DEPOIS )*/
    background-repeat: no-repeat;
    background-position: top center;
    background-position-y: 20px;
    border: 2px solid var(--color-segudary);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
}



.flex-comunidade {
    width: 400px;
    height: 300px;
    padding: 40px 0;
    background-image: url("../imagens/2.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top center;
    background-position-y: 20px;
    border: 2px solid var(--color-segudary);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
}


.flex-experiencia {
    width: 400px;
    height: 300px;
    padding: 40px 0;
    background-image: url("../imagens/3.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top center;
    background-position-y: 20px;
    border: 2px solid var(--color-segudary);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
}
