* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

:root {
    --color-copy: #000000;
    --color-primary: #6CBFF2;
    --color-segudary: #F9F9F9;
    --default-padding: 1rem;
  }


body {
    background-color: rgb(26, 127, 189);
    margin: 0 auto;
    padding-top: 25px;
    
}

.items-center {
    display: flex;
    align-items: center;
}

.background-gray {
    background-image: url(../imagens/background-gray.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.problem-content {
    width: 410px;
    margin-left: 10px;
}

.problem-content  h1 {
    background: linear-gradient(0deg, #1A7FBD, #6CBFF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}
.problem-content .subtitle {
    color: var(--color-copy);
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.problem-content .text {
    color: var(--color-copy);

}

.problem-content .text p:nth-child(2){ /* SELECIONA O NUMERO DO ELEMENTO NO CASO DE TER UM ELEMENTO REPETIDO  */
    font-weight: 700;
}

.negative-row {
    transform: translateY(-100px);
}

.card-large {
    width: 100%;
    min-height: 270px;
    box-shadow: 0px 10px 10px 7px #e8e8e8;
    border-radius: 15px;
    text-align: center;
    padding: 30px 75px;
    background-color: #FBFBFB;
    box-sizing: border-box;
}

.card-large h1 {
    color: var(--color-copy);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.card-large span {
    color: var(--color-copy);
    font-weight: 400;
    font-size: 15px;
}

.card-large:nth-child(1) .background-numbers{
    background-image: url(../imagens/1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.card-large:nth-child(2) .background-numbers {
    background-image: url(../imagens/2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.card-large:nth-child(3) .background-numbers {
    background-image: url(../imagens/3.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* CARD JORNADA*/
.title-journey {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 45px 0px;
}

.title-journey h1 {
    background: linear-gradient(0deg, #1A7FBD, #6CBFF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.background-title {
    background-image: url(../imagens/background-title.png);
    background-repeat: no-repeat;
    background-position: center;
}

.card-journey {
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 10px;
    border: 1px solid;
    justify-items: center;
    align-items: center;
    background-color: #1A7FBD;
}

.card-journey img {
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
    background: var(--color-segudary);
    
}

.card-journey span {
    width: 250px;
    color: var(--color-segudary);
}

/* NAO SEI SE É DINAMICO FAZER ISSO PESQUISAR DEPOIS */

.container .row {
    margin: 20px 0;
}

/* Buttom Selection Process */
.button-SelectionProcess {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;

    padding: 7rem 0;
    padding-bottom: 10rem;
}

.button-SelectionProcess button {
    width: 475px;
    height: 70px;
    font-size: 18px;

    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
}

.button-SelectionProcess button span {
    color: #319CDD;
}

.button-SelectionProcess img {
    width: 210px;
    height: 30px;
}


/* Cards do objetivos */
.background-blue {
    background-image: url(../imagens/background-blue.png);
    background-size: cover;
    padding: 5rem 0;

    background-repeat: no-repeat;
    background-position: center;
    
}


.title-obective {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    color: var(--color-segudary);
    
}

.title-obective h1 {
    font-weight: 600;
}


.no-shadow {
    box-shadow: none;
}

/* FOOTER*/
.background-black {
    padding: 8rem 0;
    color: var(--color-segudary);
    background-color: var(--color-copy);
    justify-content: center;

    
}

.logo-footer {
    padding-bottom: 10px;
}

.icon {
    padding: 5px;
    text-decoration: none;
}

.rights-copy {
    font-weight: 200;
}

.background-black button {
    font-weight: 700;
    border-color: #1A7BB6;
    border-radius: 8px;
    padding: 10px 15px;
}

