/* Reset básico e configuração de fonte */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    --color-copy: #000000;
    --color-primary: #6cbff2;
    --color-secondary: #f9f9f9;
    --default-padding: 1rem;
}

/* Estilos Globais */
body {
    background-color: rgb(26, 127, 189);
    margin: 0 auto;
}

/* Cabeçalho */
.background-header {
    background-color: rgb(39, 138, 199);
    border-bottom: 2px solid black;
    padding: 20px 0;
}

.img-logo img {
    width: 10rem;
    height: 2rem;
}

.list-menu {
    padding-top: 15px;
    list-style: none;
    display: flex;
    gap: 50px;
}

.list-menu li a {
    color: var(--color-secondary);
    text-decoration: none;
}

.button-black {
    font-weight: 500;
    background-color: var(--color-copy);
    color: var(--color-secondary);
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
    float: right;
}

/* Seção: O Projeto */
.background-projeto {
    padding: 50px 0;
    background-color: #161616;
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-projeto img {
    width: 380px;
    height: 350px;
}

.conten-project-copy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.conten-project-copy h1 {
    background: linear-gradient(0deg, #1a7fbd, #6cbff2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

/* Seção: O Problema */
.items-center {
    display: flex;
    align-items: center;
}

.background-gray {
    background-image: url(../imagens/background-gray.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
}

.img-problem img {
    width: 100%;
}

.problem-content {
    width: 410px;
    margin-left: 10px;
}

.problem-content h1 {
    background: linear-gradient(0deg, #1a7fbd, #6cbff2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.problem-content .subtitle {
    color: var(--color-copy);
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.problem-content .text {
    color: var(--color-copy);
}

/* Seção: Oportunidades e Comunidade */
.negative-row {
    transform: translateY(-100px);
}

.card-large {
    width: 100%;
    min-height: 270px;
    box-shadow: 0px 10px 10px 7px #e8e8e8;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    box-sizing: border-box;
    position: relative;
}

.card-large h1 {
    color: var(--color-copy);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.card-large span {
    color: var(--color-copy);
    font-weight: 400;
    font-size: 15px;
}

.card-large:nth-of-type(1)::before {
    content: '';
    background-image: url(../imagens/1.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card-large:nth-of-type(2)::before {
    content: '';
    background-image: url(../imagens/2.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card-large:nth-of-type(3)::before {
    content: '';
    background-image: url(../imagens/3.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Seção: Sua Jornada */
.title-journey {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
}

.title-journey h1 {
    background: linear-gradient(0deg, #1a7fbd, #6cbff2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.background-title {
    background-image: url(../imagens/background-title.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* Cards Jornada */
.card-journey {
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #1a7fbd;
}

.card-journey img {
    margin-right: 10px;
    border-radius: 5px;
    padding: 8px;
    background: var(--color-secondary);
}

.card-journey span {
    color: var(--color-secondary);
}

/* Seção: Objetivos */
.background-blue {
    background-image: url(../imagens/background-blue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 0;
}

.title-obective {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    color: var(--color-secondary);
}

.title-obective h1 {
    font-weight: 600;
}

.no-shadow {
    box-shadow: none;
}

/* Rodapé */
.background-black {
    padding: 8rem 0;
    color: var(--color-secondary);
    background-color: var(--color-copy);
    display: flex;
    justify-content: center;
}

.icon {
    padding: 5px;
    text-decoration: none;
}

.rights-copy {
    font-size: 10px;
    font-weight: 200;
}

.button-footer {
    padding-right: 40px;
}

.button-footer button {
    font-weight: 700;
    border-color: #1a7bb6;
    border-radius: 8px;
    background-color: var(--color-secondary);
    color: var(--color-copy);
}

.list-footer ul {
    list-style-type: none;
    border-right: 1px solid #424242;
    width: 200px;
    padding: 0;
}

.list-footer ul li {
    padding: 5px 0;
}

.list-footer ul li a {
    text-decoration: none;
    color: var(--color-secondary);
}

.list-contat {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Botão Seleção de Processo */
.button-SelectionProcess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 7rem 0;
}

.button-SelectionProcess button {
    padding: 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
}

.button-SelectionProcess button span {
    color: #319cdd;
}

.button-SelectionProcess img {
    width: 13rem;
    height: 1.875rem;
}

.social-icons {
    display: flex;
    gap: 20px;
    padding: 20px 0 10px;
}

.copywriting {
    font-size: 9px;
}

.button-white {
    background-color: var(--color-secondary);
    font-weight: 500;
    color: var(--color-copy);
    border-radius: 5px;
    border: 1px solid #1a7bb6;
    padding: 10px 15px;
}

.border-right {
    border-right: 1px solid var(--color-secondary);
}

.list-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-footer li {
    list-style: none;
}

.list-footer li a {
    color: var(--color-secondary);
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 40px;
}

.contacts h5 {
    font-size: 16px;
    color: var(--color-secondary);
}
